.experts{
    margin-bottom: 5rem;
}

.experts-title{
    display:flex;
    text-align: justify;
    align-items: center;
    vertical-align: middle;
}

.experts .card {
    height: auto;
    width: auto;
}

.experts .col .card {
    /* background: #F1DABF; */
    border: none;
    align-items: center;

}

.experts .card img {
    transform: scale(1);
    width:200px;
    border-radius: 5%;
    margin-top: 10px;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.experts .card:hover {
    z-index: 10;
    /* border: 2px solid rgba(52, 58, 64, 1); */
    border: none;
}

.experts .card:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.experts .card:hover .title-container {
    background-color: rgba(0, 0, 0, 1);
}

.experts .card-body {
    text-align: center;
}

.experts .title-container{
    vertical-align: middle;
    text-align: center;
    padding-top: 0.25rem;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%);
}

.experts .card-title {
    color: white;
}

.experts .card-text {
    margin-bottom: 0.1rem;
}

.experts .icon-row{
    display:flex;
    margin-bottom: 10px;
    justify-content: center;
}

.experts .icon-row .icon{
    font-size: 1.5rem;
    margin: 5px 10px 5px 10px;
}