
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

.navbar {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.hero {
    /* Full viewport height, less the navbar, footer, and margins */
    height: calc(100vh - 100px - 2rem);
    max-height: 880px;
    gap: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        font-size: 2rem;
    }
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 8rem;
    text-shadow: none;
}

.row {
    width: 100%;
}

footer {
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.card {
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 1rem;
}

.btn {
    margin-top: 10px;
}

.spacer {
    height: 44px;
}

.carousel-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

#testimonials {
    padding-top: 64px;
    padding-bottom: 32px;
}

.carousel-item.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    height: 480px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.main-review {
    color: rgba(52, 58, 64, 1);
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.reviewer {
    color: rgba(179, 179, 179, 1);
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23B3B3B3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23B3B3B3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: rgba(179, 179, 179, 1);
}